body {
    background-color: rgb(20,20,20);
    color: rgb(182, 182, 182);
}

#cim {
    text-align: center;
    font-style: bold;
}

.feltalalo {
    text-align: left;
    width: 49%;
    bottom: 0;
    left: 0;
}

.talalmany {
    text-align: right;
    bottom: 0;
    left: 0;
}